<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="graphite" type="Graphite.Configuration.GraphiteConfiguration, Graphite" />
    <section name="graphite.system" type="Graphite.System.Configuration.GraphiteSystemConfiguration, GraphiteSystemMonitor" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <graphite xmlns="http://github.com/peschuster/Graphite/Configuration">
    <statsd address="metrics.flowenergy.com" port="8125" prefixKey="flow.environment.role" />
  </graphite>
  <graphite.system xmlns="http://github.com/peschuster/Graphite/Configuration">
    <counters>
      <clear />
      <add key="processor.time" category="Processor" instance="_Total" counter="% Processor Time" type="gauge" target="statsd" interval="10" />
      <add key="memory.availableBytes" category="Memory" instance="" counter="Available MBytes" type="gauge" target="statsd" interval="10" />
      <add key="memory.pagingFile.percentUsage" category="Paging File" instance="_Total" counter="% usage" type="gauge" target="statsd" interval="10" />

      <add key="disk.{instance}.percentFreeSpace" category="LogicalDisk" instance="*" counter="% Free Space" type="gauge" target="statsd" interval="10" />
      <add key="disk.{instance}.averageDiskSecPerRead" category="PhysicalDisk" instance="*" counter="Avg. Disk Sec/Read" type="gauge" target="statsd" interval="10" />
      <add key="disk.{instance}.averageDiskSecPerWrite" category="PhysicalDisk" instance="*" counter="Avg. Disk Sec/Write" type="gauge" target="statsd" interval="10" />

      <add key="network.{instance}.bytesReceived" category="Network Interface" instance="*" counter="Bytes Received/sec" type="gauge" target="statsd" interval="10" />
      <add key="network.{instance}.bytesSent" category="Network Interface" instance="*" counter="Bytes Sent/sec" type="gauge" target="statsd" interval="10" />

      <!--<add key="aspnet.requests.perSec" category="ASP.Net Applications" instance="__Total__" counter="Requests/Sec" type="gauge" target="statsd" interval="10"/>
      <add key="aspnet.requests.executionTime" category="ASP.Net Applications" instance="__Total__" counter="Request Execution Time" type="gauge" target="statsd" interval="10"/>-->

      <!--<add key="processor.sqlserver.time" category="Process" instance="sqlservr" counter="% Processor Time" type="gauge" target="statsd" interval="10"/>
      <add key="sqlserver.locks.lockWaitTime" category="SQLServer:Locks" instance="_Total" counter="Lock Wait Time (ms)" type="gauge" target="statsd" interval="10"/>
      <add key="sqlserver.locks.lockWaitsPerSec" category="SQLServer:Locks" instance="_Total" counter="Lock Waits/sec" type="gauge" target="statsd" interval="10"/>
      <add key="sqlserver.locks.averageWaitTime" category="SQLServer:Locks" instance="_Total" counter="Average Wait Time (ms)" type="gauge" target="statsd" interval="10"/>
      <add key="sqlserver.locks.deadlocksPerSec" category="SQLServer:Locks" instance="_Total" counter="Number of Deadlocks/sec" type="gauge" target="statsd" interval="10"/>
      <add key="sqlserver.locks.tableLockEscalationsPerSec" category="SQLServer:Access Methods" instance="" counter="Table Lock Escalations/sec" type="gauge" target="statsd" interval="10"/>
      <add key="sqlserver.activity.batchRequestsPerSec" category="SQLServer:SQL Statistics" instance="" counter="Batch Requests/sec" type="gauge" target="statsd" interval="10"/>
      <add key="sqlserver.activity.compilationsPerSec" category="SQLServer:SQL Statistics" instance="" counter="SQL Compilations/sec" type="gauge" target="statsd" interval="10"/>-->

    </counters>
    <eventlog>
      <clear />
      <add key="admin.errors" protocol="Application" entrytypes="Error" type="gauge" target="statsd" />
      <add key="admin.dotnet.exceptions" protocol="Application" source=".NET Runtime" entrytypes="Error" type="gauge" target="statsd" />
      <add key="admin.dotnet.warnings" protocol="Application" source=".NET Runtime" entrytypes="Warning" type="gauge" target="statsd" />
    </eventlog>
    <!--<appPool>
      <add key="admin.appPool.webUI.workingSet" appPoolName="webUI" workingSet="true" type="gauge" target="statsd"/>
      <add key="admin.appPool.dataSvc.workingSet" appPoolName="dataSvc" workingSet="true" type="gauge" target="statsd"/>
    </appPool>-->
  </graphite.system>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog10">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="EventLog"
          name="eventlog"
          layout="${date:format=HH\:MM\:ss} ${logger} ${message}"
          source="${appName}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="eventlog" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
